@import 'includes/normalize';
@import 'includes/variables';
@import 'includes/h5bp_defaults';

/* 
* apply a natural box layout model to all elements 
* http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html {
    font-size: 100%; // 16px;
}

body {
    overflow: hidden;
    height: 100%;
    background: #000;
    
    -ms-touch-action: none;
    -ms-content-zooming: none; /* Disables zooming */

    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}


@import 'sections/framework';
